@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Core.Animals
@namespace Web.Animals
@page "/animals/update/{id:guid}"
@rendermode InteractiveServer

<PageTitle>Update</PageTitle>

<h1>Update Animal</h1>

@if(HasLoadErrors)
{
    <div>@LoadErrorMessage</div>
}
else
{
    <div>
        <label>Current Name</label>
        <span>@Current.Name</span>
        <label>Current Kind</label>
        <span>@Current.Kind.ToString()</span>
        <label>Current Sex</label>
        <span>@Current.Sex.ToString()</span>
    </div>

    <div>
        <label for="name">New Name</label>
        <InputText id="name" @bind-Value="@Name"/>
        <label for="kind">New Kind</label>
        <InputSelect id="kind" @bind-Value="@Kind">
            @foreach (var kind in Enum.GetValues<AnimalKind>())
            {
                <option value="@kind">@kind</option>
            }
        </InputSelect>
        <label for="sex">New Sex</label>
        <InputSelect id="sex" @bind-Value="@Sex">
            @foreach (var sex in Enum.GetValues<AnimalSex>())
            {
                <option value="@sex">@sex</option>
            }
        </InputSelect>
        <button class="btn btn-primary" @onclick="UpdateAnimalAsync">Submit</button>
        @if(HasSubmissionErrors)
        {
            <div>@SubmissionErrorMessage</div>
        }
    </div>
}
